---
layout: default
title: 欢欣之翼
---

<!doctype html>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/jollywing">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>jollywing在github</h1>
          <p>Jollywing的技术博客</p>

          {% for category in site.categories %}
          <h2>{{ category | first }}</h2>
          <span>共{{ category | last | size }}篇文章</span>
          <ul>
              {% for post in category.last %}
              <li>[{{ post.date | date:"%Y-%m-%d"}}]<a href="{{ post.url }}" target="_blank">{{ post.title }}</a></li>
              {% endfor %}
          </ul>
          {% endfor %}
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/jollywing">jollywing</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
