　<!DOCTYPE html>
　　<html>
    　　<head>
    　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    　　　　<title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-dark.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
    <!--[if lt IE 8]>
         <link rel="stylesheet" href="stylesheets/ie.css">
         <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style type="text/css">
     body {width:80%; margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom: 10px;}
    </style>
    　　</head>
    　　<body>
        <script>
         var _hmt = _hmt || [];
         (function() {
             var hm = document.createElement("script");
             hm.src = "//hm.baidu.com/hm.js?8d4969a2c5d00ce554d9003494fcb9fe";
             var s = document.getElementsByTagName("script")[0];
             s.parentNode.insertBefore(hm, s);
         })();
        </script>

        <blockquote>文章：{{ page.title }}</blockquote>
        {{ page.date }}
        　　　　{{ content }}

        <!-- 最近访客 -->
        <section style="width:250px;">
            <h3>Recently Visitors</h3>
            <ul class="ds-recent-visitors" data-num-items="4" data-avatar-size="45" style="margin-top:10px;"></ul>
        </section>

        <p style="text-align:right"><a href="/">回首页</a></p>

        <!-- 多说评论框 start -->
	    <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.title }}"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
         var duoshuoQuery = {short_name:"jollywing2015"};
	     (function() {
		     var ds = document.createElement('script');
		     ds.type = 'text/javascript';ds.async = true;
		     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		     ds.charset = 'UTF-8';
		     (document.getElementsByTagName('head')[0]
		   || document.getElementsByTagName('body')[0]).appendChild(ds);
	     })();
	    </script>
        <!-- 多说公共JS代码 end -->
        　　</body>
    　　</html>
